@{
    ViewBag.Title = "Cepheus Web API";
}
<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">Cepheus Web API</a></p>
        </div>
    </div>
</header>
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Bem vindo ao Cepheus Web API</h1>
            </hgroup>
            <p>
                Seu cadastro foi Realizado com sucesso.
            </p>
        </div>
    </section>
</div>


